<!-- <header>
  <div nz-row nzJustify="end">
    <div nz-col nzSpan="4" class="userInfo">
      <nz-avatar nzSize="large" [nzText]="GetTrigram(me)"></nz-avatar>
      <span>Laurain Clem</span>
    </div>
  </div>
</header> -->

<nz-layout>
  <nz-sider nzWidth="100px">
    <div class="userInfos">
      <nz-avatar
        nzSize="large"
        [nzText]="sharedService.GetTrigram(me)"
      ></nz-avatar>
    </div>
  </nz-sider>
  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
