<nz-header> Editer exigence </nz-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
        >Nom</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Un nom est requis">
        <input
          nz-input
          formControlName="label"
          id="label"
          [ngModel]="exigence?.label"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="exigenceType" nzRequired
        >Type</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Un type est requis">
        <nz-select
          formControlName="exigenceType"
          [ngModel]="GetExigence(exigence?.exigenceType)"
        >
          <nz-option
            *ngFor="let exigenceType of GetExigences()"
            [nzValue]="exigenceType"
            [nzLabel]="exigenceType"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="btnSubmit">
      <button
        type="submit"
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
      >
        Mettre a jour
      </button>
    </nz-form-item>
  </form>
</nz-content>
